@font-face {
  font-family: "Chillax";
  src: url(/fonts/Chillax-Regular.otf);
}
@font-face {
  font-family: "Cabine Grotesk";
  src: url(/fonts/CabinetGrotesk-Regular.otf);
}
@font-face {
  font-family: "MazzardH";
  src: url(/fonts/MazzardH-Regular.otf);
}
@font-face {
  font-family: "tt Fors";
  src: url(/fonts/tt_fors_regular.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::first-letter {
  text-transform: capitalize;
}

*::selection {
  background-color: #5552ff;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  inline-size: 6px;
}

::-webkit-scrollbar-track {
  background: #EFE4FC;
}

::-webkit-scrollbar-thumb {
  background: #ff7051;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7051;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  margin-block: 3rem;
  position: relative;
}

@keyframes translate-sphere {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}
.bg-design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0;
  row-gap: 0;
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  z-index: -99;
}
.bg-design .bg-half.left-half {
  inline-size: 120%;
}
.bg-design .bg-half.right-half {
  inline-size: 102%;
}
.bg-design .bg-half img {
  inline-size: 100%;
  block-size: 100%;
}

header {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(85, 82, 255, 0.102);
  inline-size: 100%;
  block-size: 4.8rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 999;
}
header.fixed {
  position: fixed;
  inset-block: 0;
  inset-inline: 0;
  background-color: #5552ff;
}
@media (max-width: 991px) {
  header.fixed .nav-expanded .nav-menu .burger-line {
    background-color: #fff;
  }
}
header.fixed .nav-expanded .logo img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2%) hue-rotate(247deg) brightness(111%) contrast(101%);
}
header.fixed .main-nav .main-nav__list .main-nav__item .main-nav__link {
  color: #fff;
}
header.fixed .main-nav .main-nav__list .main-nav__item .main-nav__link:hover {
  color: #ff7051;
}
header.fixed .main-nav .login-btn {
  background-color: #fff;
  color: #5552ff;
}
header.fixed .main-nav .login-btn:hover .btn-text {
  color: #fff;
}
@media (max-width: 991px) {
  header.fixed .main-nav {
    background-color: #5552ff;
  }
}
@media (max-width: 991px) {
  header {
    block-size: 4rem;
    position: absolute;
    inset-block-start: 0;
    transition: all 0.5s ease;
  }
  header.open {
    block-size: 28rem;
    overflow-y: none;
  }
}
@media (max-width: 991px) and (max-width: 991px) {
  header.open .nav-expanded .nav-menu .burger-line:nth-of-type(1) {
    transform: rotate(45deg);
  }
  header.open .nav-expanded .nav-menu .burger-line:nth-of-type(2) {
    display: none;
  }
  header.open .nav-expanded .nav-menu .burger-line:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 991px) {
  header.open .nav-expanded .logo {
    inline-size: 5%;
    margin-inline-end: 2rem;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-block: 1rem;
}
@media (max-width: 991px) {
  header .container {
    flex-direction: column;
  }
}
header .nav-expanded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 991px) {
  header .nav-expanded {
    inline-size: 100%;
  }
  header .nav-expanded .nav-menu {
    cursor: pointer;
  }
  header .nav-expanded .nav-menu .burger-line {
    display: block;
    background-color: #5552ff;
    inline-size: 1.5rem;
    block-size: 0.1rem;
    border-radius: 1rem;
    position: relative;
    transition: all 0.5s ease;
  }
  header .nav-expanded .nav-menu .burger-line:not(:last-of-type) {
    margin-block-end: 0.4rem;
  }
}
header .nav-expanded .logo {
  inline-size: 5%;
  margin-inline-end: 2rem;
}
header .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header .main-nav .main-nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-inline: 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
header .main-nav .main-nav__list .main-nav__item {
  margin-inline: 1.5rem;
}
header .main-nav .main-nav__list .main-nav__item .main-nav__link {
  font-family: "Cabine Grotesk";
  font-weight: 700;
  font-size: 1.125rem;
  color: #1E344F;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}
header .main-nav .main-nav__list .main-nav__item .main-nav__link:hover {
  color: #5552ff;
}
@media (max-width: 991px) {
  header .main-nav .main-nav__list .main-nav__item .main-nav__link:hover {
    padding-inline-start: 10px;
  }
}
@media (max-width: 991px) {
  header .main-nav .main-nav__list .main-nav__item {
    margin: 1rem 0;
  }
}
@media (max-width: 991px) {
  header .main-nav .main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    inline-size: 100%;
    block-size: auto;
  }
}
header .main-nav .login-btn {
  width: fit-content;
  background-color: #5552ff;
  color: #fff;
  border-radius: 6px;
  font-family: "MazzardH";
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.625rem;
  padding-inline-end: 2rem;
  padding-block-end: 0.625rem;
  padding-inline-start: 2rem;
  cursor: pointer;
  border: none;
  overflow: hidden;
  min-inline-size: 8rem;
  position: relative;
  z-index: 1;
}
header .main-nav .login-btn .btn-text {
  z-index: 5;
}
header .main-nav .login-btn::before, header .main-nav .login-btn::after {
  border-radius: 100%;
  z-index: -5;
}
header .main-nav .login-btn::before {
  transition: 1.6s;
  inline-size: 3.125rem;
  block-size: 3.125rem;
  content: "";
  position: absolute;
  inset-block-start: unset;
  inset-inline-end: unset;
  inset-block-end: -3.125rem;
  inset-inline-start: -3.125rem;
  background-color: rgba(255, 255, 255, 0.5);
}
header .main-nav .login-btn::after {
  transition: 2s;
  inline-size: 1.25rem;
  block-size: 1.25rem;
  content: "";
  position: absolute;
  inset-block-start: -1.25rem;
  inset-inline-end: unset;
  inset-block-end: unset;
  inset-inline-start: -1.125rem;
  inset-block-start: -1.25rem;
  inset-inline-start: -1.25rem;
  background-color: #ff7051;
}
header .main-nav .login-btn:hover {
  box-shadow: 0 5px 12px rgba(255, 112, 81, 0.5);
}
header .main-nav .login-btn:hover:hover::before {
  inset-block-end: 0px;
  inline-size: 25rem;
  block-size: 25rem;
}
header .main-nav .login-btn:hover:hover::after {
  inset-block-start: -9.375rem;
  inline-size: 18.75rem;
  block-size: 18.75rem;
}
@media (max-width: 991px) {
  header .main-nav .login-btn {
    inline-size: 10rem;
  }
}
@media (max-width: 991px) {
  header .main-nav {
    inline-size: 100%;
    flex-direction: column;
    background-color: #fff;
    padding-block: 2rem;
  }
}

/*Start landing section*/
.landing {
  block-size: calc(100vh - 4.8rem);
  position: relative;
}
@media (max-width: 991px) {
  .landing .container {
    margin-block-start: 6rem;
  }
}
.landing::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: unset;
  inset-inline-start: 0;
  background: url(/images/landing_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  inline-size: 100vw;
  block-size: 100vh;
  background-position: top center;
  z-index: -50;
}
.landing .landing__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.landing .landing__icons .icon-container {
  inline-size: 1.5rem;
  block-size: 1.5rem;
  margin-inline: 2rem;
  position: relative;
}
.landing .landing__icons .icon-container:not(:last-of-type)::before {
  content: "";
  position: absolute;
  inline-size: 0.6875rem;
  block-size: 2px;
  right: -2.1875rem;
  left: 3.125rem;
  top: 50%;
  background: #ddd;
  z-index: 155;
}
.landing .landing__icons .icon-container img.icon {
  max-inline-size: 100%;
}
.landing .landing__title {
  color: #1E344F;
  font-family: "Chillax";
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-block: 1.875rem;
}
.landing .landing__title .title__different {
  color: #5552ff;
}
.landing .landing__image {
  margin: 2rem auto;
  display: flex;
  position: relative;
  z-index: -10;
  transition: all 6s ease;
}
@media (max-width: 991px) {
  .landing .landing__image {
    margin: 1rem;
  }
}
.landing .landing__image img {
  max-inline-size: 100%;
  object-fit: contain;
}
@media (max-width: 991px) {
  .landing .landing__image img {
    display: none;
  }
}
.landing .landing__image::after, .landing .landing__image::before {
  position: absolute;
  content: "";
  object-fit: contain;
  transition: all 6s ease;
  animation: translate-sphere 5s linear infinite;
}
.landing .landing__image::after {
  inline-size: 7rem;
  block-size: 7rem;
  background: url(/images/landing_sphere1.png);
  background-size: contain;
  background-repeat: no-repeat;
  inset-block-start: -40px;
  inset-inline-start: 28%;
}
@media (max-width: 991px) {
  .landing .landing__image::after {
    inset-block-start: -250px;
    inset-inline-start: -75px;
  }
}
.landing .landing__image::before {
  inline-size: 4rem;
  block-size: 4rem;
  background: url(/images/landing_sphere2.png);
  background-size: contain;
  background-repeat: no-repeat;
  inset-block-end: 100px;
  inset-inline-end: 18%;
}
@media (max-width: 991px) {
  .landing .landing__image::before {
    inset-block-end: 0px;
    inset-inline-end: -40px;
  }
}
.landing .landing__cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.landing .landing__cards.cards-group1 {
  transform: translateY(120px);
}
.landing .landing__cards.cards-group1 .landing__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "MazzardH";
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(30, 52, 79, 0.1);
  padding-top: 20px;
  padding-inline-end: 30px;
  padding-block-end: 20px;
  padding-inline-start: 30px;
  margin: 0;
}
.landing .landing__cards.cards-group1 .landing__card .card__body {
  margin-inline: 1.5rem;
  line-height: 1.5;
  text-transform: capitalize;
}
.landing .landing__cards.cards-group1 .landing__card .card__body .card__tite {
  font-weight: 600;
  font-size: 1rem;
  color: #342E;
}
.landing .landing__cards.cards-group1 .landing__card .card__body .card__copy {
  font-weight: 400;
  font-size: 1rem;
  color: #342E;
}
@media (max-width: 991px) {
  .landing .landing__cards.cards-group1 {
    flex-direction: column;
    transform: translateY(0);
    position: inherit;
    z-index: 55;
  }
  .landing .landing__cards.cards-group1 .landing__card:nth-last-of-type(1) {
    align-self: flex-end;
    margin-block-start: 1.5rem;
  }
}
.landing .landing__cards.cards-group2 {
  transform: translateY(-130px);
}
.landing .landing__cards.cards-group2 .landing__copy {
  max-inline-size: 22rem;
  line-height: 1.6;
  font-family: "MazzardH";
  font-weight: 400;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 991px) {
  .landing .landing__cards.cards-group2 .landing__copy {
    max-inline-size: 100%;
    font-size: 1rem;
    text-align: center;
  }
}
.landing .landing__cards.cards-group2 .landing__btn {
  width: fit-content;
  background-color: #5552ff;
  color: #fff;
  border-radius: 6px;
  font-family: "MazzardH";
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.625rem;
  padding-inline-end: 2.5938rem;
  padding-block-end: 0.625rem;
  padding-inline-start: 2.5938rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  min-inline-size: 10rem;
  position: relative;
  inset-inline-end: 6rem;
  z-index: 1;
}
.landing .landing__cards.cards-group2 .landing__btn .btn-text {
  z-index: 5;
}
.landing .landing__cards.cards-group2 .landing__btn::before, .landing .landing__cards.cards-group2 .landing__btn::after {
  border-radius: 100%;
  z-index: -5;
}
.landing .landing__cards.cards-group2 .landing__btn::before {
  transition: 1.6s;
  inline-size: 3.125rem;
  block-size: 3.125rem;
  content: "";
  position: absolute;
  inset-block-start: unset;
  inset-inline-end: unset;
  inset-block-end: -3.125rem;
  inset-inline-start: -3.125rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.landing .landing__cards.cards-group2 .landing__btn::after {
  transition: 2s;
  inline-size: 1.25rem;
  block-size: 1.25rem;
  content: "";
  position: absolute;
  inset-block-start: -1.25rem;
  inset-inline-end: unset;
  inset-block-end: unset;
  inset-inline-start: -1.125rem;
  inset-block-start: -1.25rem;
  inset-inline-start: -1.25rem;
  background-color: #ff7051;
}
.landing .landing__cards.cards-group2 .landing__btn:hover {
  box-shadow: 0 5px 12px rgba(255, 112, 81, 0.5);
}
.landing .landing__cards.cards-group2 .landing__btn:hover:hover::before {
  inset-block-end: 0px;
  inline-size: 25rem;
  block-size: 25rem;
}
.landing .landing__cards.cards-group2 .landing__btn:hover:hover::after {
  inset-block-start: -9.375rem;
  inline-size: 18.75rem;
  block-size: 18.75rem;
}
@media (max-width: 991px) {
  .landing .landing__cards.cards-group2 .landing__btn {
    inline-size: 14rem;
    margin: 1rem auto;
    inset-inline-end: 0;
  }
}
@media (max-width: 991px) {
  .landing .landing__cards.cards-group2 {
    flex-direction: column;
    transform: translateY(0);
  }
}
@media (max-width: 991px) {
  .landing .landing__cards {
    flex-direction: column-reverse;
  }
}

/*End landing section*/

/*# sourceMappingURL=main.css.map */
