// colors
$main-color: rgb(85, 82, 255);
$second-main-color: #1E344F;
$dark-grey: #342E;
$orange: #ff7051;
$light-orange:#FFF2E2;
$purple: #EFE4FC;
$lemon: #E6F5D0;
$baby-blue: #E7EEFA;
$white: #fff;

$box-shadow: 0 4px 4px 0 rgba(30, 52, 79, .1);
$font-color: $second-main-color;
$footer-bg: $purple;