@use '../abstracts/mixins'as *;

.bg-design {
    @include grid(repeat(2, 1fr), 0, 0);

    @include absolute (0, 0, 0, 0);

    z-index: -99;

    .bg-half {
        &.left-half {
            inline-size: 120%;
        }

        &.right-half {
            inline-size: 102%;
        }

        img {
            @include size(100%, 100%)
        }

        @include breakpoints(mobile) {
            &.left-half {
                display: none
            }
        }
    }

    @include breakpoints(mobile) {
        @include grid(repeat(1, 1fr), 0, 0);
    }

}