@use '../base/typography'as *;
@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;
@use '../base/components'as *;
@use '../base/animation'as *;

header {
    background-color: $white;
    box-shadow: 0 5px 15px rgba(85, 82, 255, 0.102);
    @include size(100%, 4.8rem);
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    z-index: 999;

    &.fixed {
        position: fixed;
        inset-block: 0;
        inset-inline: 0;
        background-color: $main-color;

        .nav-expanded {
            @include breakpoints(md) {
                .nav-menu {
                    .burger-line {
                        background-color: $white;
                    }
                }
            }

            .logo {
                img {
                    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2%) hue-rotate(247deg) brightness(111%) contrast(101%);
                }
            }
        }

        .main-nav {
            .main-nav__list {
                .main-nav__item {
                    .main-nav__link {
                        color: $white;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }

            .login-btn {
                background-color: $white;
                color: $main-color;

                &:hover {
                    .btn-text {
                        color: $white;
                    }
                }
            }

            @include breakpoints(md) {
                background-color: $main-color;
            }
        }
    }

    @include breakpoints(md) {
        block-size: 4rem;
        position: absolute;
        inset-block-start: 0;
        transition: all .5s ease;

        &.open {
            block-size: 28rem;
            overflow-y: none;

            .nav-expanded {
                @include breakpoints(md) {

                    .nav-menu {
                        .burger-line {
                            &:nth-of-type(1) {
                                transform: rotate(45deg);
                            }

                            &:nth-of-type(2) {
                                display: none;
                            }

                            &:nth-of-type(3) {
                                transform: translateY(-8px) rotate(-45deg);
                            }
                        }
                    }
                }

                .logo {
                    inline-size: 5%;
                    margin-inline-end: 2rem;
                }
            }
        }
    }

    .container {
        @include flex(space-between, center, row);
        padding-block: 1rem;

        @include breakpoints(md) {
            flex-direction: column;
        }
    }

    .nav-expanded {
        @include flex(space-between, center, row);

        @include breakpoints(md) {
            inline-size: 100%;

            .nav-menu {
                cursor: pointer;

                .burger-line {
                    display: block;
                    background-color: $main-color;
                    @include size(1.5rem, .1rem);
                    border-radius: 1rem;
                    position: relative;
                    transition: all .5s ease;

                    &:not(:last-of-type) {
                        margin-block-end: .4rem;
                    }
                }
            }
        }

        .logo {
            inline-size: 5%;
            margin-inline-end: 2rem;
        }
    }

    .main-nav {
        @include flex(space-between, center, row);
        @include transition(all, .3);

        .main-nav__list {
            @include flex(flex-start, center, row);
            margin-inline: 1rem;
            @include transition(all, .3);

            .main-nav__item {
                margin-inline: 1.5rem;

                .main-nav__link {
                    @include font($cabine_font, 700, 1.125rem, $font-color);
                    @include transition(all, .3);
                    text-transform: capitalize;

                    &:hover {
                        color: $main-color;

                        @include breakpoints(md) {
                            padding-inline-start: 10px;
                        }
                    }
                }

                @include breakpoints(md) {
                    margin: 1rem 0;
                }
            }

            @include breakpoints(md) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include size(100%, auto);
            }

        }

        .login-btn {
            @include btn(1rem, 400);
            @include padding(0.625rem, 2rem, 0.625rem, 2rem);
            cursor: pointer;
            border: none;
            overflow: hidden;
            min-inline-size: 8rem;
            position: relative;
            z-index: 1;

            .btn-text {
                z-index: 5;
            }

            @include btn-animation;

            @include breakpoints(md) {
                inline-size: 10rem;
            }
        }

        @include breakpoints(md) {
            inline-size: 100%;
            flex-direction: column;
            background-color: $white;
            padding-block: 2rem;
        }

    }
}