@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::first-letter {
    text-transform: capitalize;
}

*::selection {
    background-color: $main-color;
    color: $white;
}

html {
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    inline-size: 6px;
}

::-webkit-scrollbar-track {
    background: $purple;
}

::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: $orange;
}

a {
    text-decoration: none;
}

ul {
    @include reset-list;
}

section {
    margin-block: 3rem;
    position: relative;
}