@font-face {
    font-family: 'Chillax';
    src: url(/fonts/Chillax-Regular.otf);
}

@font-face {
    font-family: 'Cabine Grotesk';
    src: url(/fonts/CabinetGrotesk-Regular.otf);
}

@font-face {
    font-family: 'MazzardH';
    src: url(/fonts/MazzardH-Regular.otf);
}

@font-face {
    font-family: 'tt Fors';
    src: url(/fonts/tt_fors_regular.otf);
}


$chillax_font: 'Chillax';
$cabine_font: 'Cabine Grotesk';
$mazzard_font: 'MazzardH';
$tt-fors_font: 'tt Fors';